<!-- Start Footer  -->
<div class="footer_full">
	<div id="footer">
		<div class="copy">
			<p>Created by <a href="http://zacharydenton.com/">{{ site.author }}</a>  &bull;  <a href="http://github.com/zacharydenton/labs.zacharydenton.com">View source on GitHub</a></p>
			<p class="developed_by">Powered By: <a href="http://octopress.org/">Octopress</a></p>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- End Footer  -->

<!-- Theme Hook -->
<script type="text/javascript" src="/js/Includer.js"></script>
{% include custom/after_footer.html %}
